# Id of VPC
vpc_id=${vpc_id}

# AWS Region
aws_region=${region}

# Route53 zone Id and domain name
route53_zoneid=${route53_zoneid}
route53_domain=${domain}

# Key pair name to use for remote ssh access to nodes
key_name=${key_name}

# File with private key used to remote access to nodes
key_file=${private_key_file}

# Bastion host used to access infrastructure
bastion=${bastion_pub_ip}

# Security Group
secgroup_name=${internal_sg}

